@import 'utilities';

.cta-button{
    background-color: $secundary-color;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    i{
        margin-left: 15px;
        font-size: 18px;
    }
}

.title-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3{
        font-size: 2.5rem;
        color: $primary-color;
        font-weight: 400;
        margin-bottom: 5px;
    }

    p{
        font-size: 1.2rem;
        font-weight: 300;
        max-width: 550px;
    }
    margin-bottom: 25px;
}

.logo-row{
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        .logo{
            background-image:url('../img/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            margin-right: 15px;
        }
    
        h1{
            color: $primary-color;
            font-size: 30px;
            font-weight: 500;
            strong{
                color: $secundary-color;
            }
            
        }
    }

}

header{
    padding: 10px 0;
    
    .container{
        justify-content: space-between;
        align-items: center;
        
        nav.menu-mobile{
            display: none;
            i{
                font-size: 32px;
                cursor: pointer;
            }
            ul{
                display: none;
                background-color:$secundary-color;
                -webkit-box-shadow: -2px 8px 15px 2px rgba(0,0,0,0.25); 
                box-shadow: -2px 8px 15px 2px rgba(0,0,0,0.25);
                position: absolute;
                top: 65px;
                left: 50%;
                width: 100%;
                
                text-align: center;
                transform:translateX(-50%);
                li{
                    list-style-type: none;
                    line-height: 40px;
                    width: 100%;

                    a{
                        display: block;
                        width: 100%;
                        font-weight: 300;
                        text-decoration: none;
                        color: white;
                        font-size: 1.6rem;
                        padding: 15px 10px;
                    }
                    a:active{
                        background-color: $primary-color;
                    }
                    a:hover{
                        background-color:  $primary-color;
                    }
                }
            }
        }

        nav.menu-desktop{
            ul{
                display: flex;
                
                li{
                    list-style-type: none;
                    margin: 0 15px;
                    a{
                        color: $primary-color;
                        text-decoration: none;
                        font-size: 1.2rem;
                        padding: 10px;
                    }

                    a:hover{
                        border-bottom: 3px solid $secundary-color;
                    }
                }

                li:last-child{
                    a{
                        border: 3px solid $secundary-color;
                        border-radius: 10px;
                    }
                    a:hover{
                        transition: 0.3s;
                        background-color: $secundary-color;
                        color: white;
                    }
                }
            }
        }
    }
}

section.bg{
    padding: 100px 0;
    background-image: url('/img/Oval.png');
    background-repeat: no-repeat;
    background-size:50%;
    background-position:bottom right;
    
    .container{
        align-items: center;
        justify-content: space-between;

        .bg-text{
            h1{
                font-size: 56px;
                font-weight: 300;
                span{
                    color: $secundary-color;
                }
                margin-bottom: 15px;
            }

            p{
                color: $primary-color;
                font-size: 1.4rem;
                margin-bottom: 55px;
            }


            .social-media{
                margin-top: 100px;
                font-size: 22px;

                a{
                    margin: 0 10px;
                }
                a:nth-of-type(1){
                    color: #3C5B9A;
                }

                a:nth-of-type(2){
                    color: #236CD9;
                }

                

                a:nth-of-type(3){
                    color: #FF5552
                }
            }
            
            margin-right:50px;
        }

        .bg-image{
            width: 100%;
            text-align: right;
            vertical-align: bottom;
            img{
                max-width: 470px;
                width: 100%;
            }
        }
    }
}

section.features{
    position: relative;
    top: -110px;
    background-color: #FAFAFA;
    padding: 25px;
    
    .container{
        flex-wrap: wrap;
        align-items: top;
        justify-content: center;
        .feature-single{
            background-color: white;
            border: 3px solid $secundary-color;;
            margin: 15px;
            padding: 15px;
            border-radius: 15px;
            min-width: 270px;
            max-width: 270px;
            
            h3{
                font-size: 25px;
                margin:15px 0;
                color: $secundary-color;
                font-weight: 400;
            }

            i{
                font-size: 60px;
                color: $secundary-color;
                
            }

            p{
                color: $primary-color;
                font-size: 1rem;
            }
        }
    }
}

section.courses{
    padding: 55px 0;
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .courses-container{
            display:flex;
            flex-wrap: wrap;
            align-items: top;
            justify-content: center;

            
            .course-single-box{
                width: 29%;
                margin: 25px;
                padding: 25px;
                border-radius: 10px;
                background-color: white;
                -webkit-box-shadow: -1px 2px 15px 5px rgba(0,0,0,0.05); 
                box-shadow: -1px 2px 15px 5px rgba(0,0,0,0.05);

                h4{
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }

                p{
                    color: rgba(0,0,0, .5);
                    margin-bottom: 20px;
                }
                
                a{
                    font-size: 17px;
                    color: $secundary-color;
                    text-decoration: none;
                    i{
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}

section.testimonials{
    padding: 55px 0;
    .container{
        display: block;
        text-align: center;
        
        .container-slider{
            .container-slider-single{
                .perfil{
                    display: flex;
                    align-items: center;
                    .perfil-name{
                        margin-left: 20px;
                        text-align: left;
                        h3{
                            font-weight: 500;
                        }
                    }
                }
                text-align: left;
            }
        }
    }
}
/*SLICK SLIDER*/
.container-slider{
    overflow: hidden;
    padding: 40px 0;
    
}

.container-slider-single{
    float: left;
    background-color: white;
    -webkit-box-shadow: -1px 2px 15px 5px rgba(0,0,0,0.05); 
    box-shadow: -1px 2px 15px 5px rgba(0,0,0,0.05);
    text-align: center;
    padding: 25px;
    
    border-radius: 20px;
}

.container-slider-single p{
    margin: 15px 0;
    line-height: 25px;
    color:rgba(0,0,0, .5);
    font-size: 14px;
}

.slick-slide {
    margin-left: 27px;
}

.slick-list{
    margin-left: -27px;
}

.slick-dotted ul{
    list-style-type:none;
    text-align: center;
    position: relative;
    margin-top: 10px;
    top: 30px;
}

.slick-dotted li{
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus{
    outline: 0;
}

.slick-dotted li button{
    width: 13px;
    height: 13px;
    border-radius: 8px;
    color: #d8d8d8;
    border-width: 0;
    background-color: #d8d8d8;
    opacity: 1;
    cursor: pointer;
}

li.slick-active button{
    
    transition: 0.3s;
    transform: scale(1.3);
    background-color: $secundary-color;
    color: $secundary-color;
}

/*FIM SLICK SLIDER*/

section.faq{
    padding: 55px 0;
    .container{
        flex-direction: column;
        align-items: center;
        
        .accordeon{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 700px;
            .accordeon-single{
 
                .accordeon-title{
                    
                    -webkit-box-shadow: -1px 2px 15px 5px rgba(0,0,0,0.15); 
                    box-shadow: -1px 2px 15px 5px rgba(0,0,0,0.15);
                    background-color: #fafafa;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: 22px;
                    
                    h3{
                        
                        font-weight: 500;
                        font-size: 20px;
                    }

                    i{
                        padding-left: 15px;
                        font-size: 27px;
                    }
                }

                p{  
                    display: none;
                    font-size: 17px;
                    padding: 40px 20px; 
                }
            }
        }
    }
}

section.cta{
    padding: 70px 0;
    background-color: #FAFAFA;
    .container{
        align-items: center;
        justify-content: space-between;

        h2{
            font-size: 37px;
            font-weight: 500;
        }
    }
}

footer{
    padding: 55px 0;
    background-color: $secundary-color;
    .container{
        align-items: center;
        justify-content: space-between;

        .logo-row{
            h1{
                strong{
                    color: white;
                }
            }
        }

        .social-media{
            a{
                color: white;
                font-size: 22px;
                margin: 15px;
            }
        }
    }

    
}

.footer2{
    padding: 20px 0;
    background-color: $footer2-color;
    .container{
  
        align-items: center;
        p{
            color: white;
        }
    }
}

@media screen and (max-width: 900px){
    section.bg{
        background-size: 80%;
        .container{
            .bg-text{
                h1{font-size: 45px;}
                p{font-size: 18px;}    
            }             

        }      
    }

    header{
        z-index: 999;
        position: fixed;
        width: 100%;
        background-color: white;
        -webkit-box-shadow: -2px 8px 15px 2px rgba(0,0,0,0.10); 
        box-shadow: -2px 8px 15px 2px rgba(0,0,0,0.10);
        .container{
            nav.menu-desktop{
                display: none;
            }
            nav.menu-mobile{
                display: block;
            }
            
        }
    }

    .features{
        .container{
            flex-wrap: wrap;
            justify-content: center;
            .feature-single{
                width: 44%;
            }
        }
    }
}

@media screen and (max-width:833px){


    section.bg{
        background-image: none;
        
        .container{
            .bg-image{
                display: none;
            }   
            .bg-text{
                text-align: center;
                padding-right: 0;
                width: 100%;
                .social-media{
                    margin-top: 50px;
                    margin-bottom: 50px;   
                }

                p{
                    width: 100%;
                    margin: 25px auto;
                    max-width: 500px;
                }
                
                margin-right:0;
            }         
            

        }
              
    }

    section.cta{
        .container{
            flex-direction: column;
            h2{
                margin-bottom: 20px;
            }
        }
    }

    section.courses{
        .container{

            .courses-container{
                flex-direction: column;

                .course-single-box{
                    width: 100%;
                    max-width: 550px;
                }
            }
        }
    }


}

@media screen and (max-width: 630px){

    footer{
        .container{
            flex-direction: column;
            
            .logo-row{
                margin-bottom: 25px;
            }

        }
    }

    .footer2{
        .container{
            justify-content: center;
        }
        
    }

    section.cta{
        .container{
            padding: 0 4%;
            text-align: center;
            h2{
                font-size: 26px;
            }
        }
    }

    .title-section{
        p{
            font-size: 1rem;
            max-width: 350px;
        }
    }

    section.testimonials{
        .container{
            .container-slider{
                max-width: 450px;
                margin: 0 auto;
            }
        }
    }

    section.features{
        .container{
            
            .feature-single{
                margin: 5px;
                width: 100%;
                max-width: 400px;
                
            }
        }
    }

    section.courses{
        .container{
            .courses-container{
                flex-direction: column;
                .course-single-box{
                    width: 100%;
                    max-width: 300px;
                    margin: 10px 0;
                }
            }
        }
    }
}